// @import 'styles/abstracts/_variables.less';

.loading-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-icon {
  animation: spin 1s linear infinite; /* Thêm hiệu ứng vòng quay */
  font-size: 24px;
  margin-bottom: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
