@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto_Sans_JP';
  src: url('./assets/fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, Noto_Sans_JP;

  // color theme
  --color-dark: #2e2e2e;
  --color-dark-500: #414141;
  --color-gray-400: #777777;
  --color-light: #ffffff;

  // color primary
  --color-primary-300: #ffcc21;
  --color-primary-400: #ff963c;
  --color-primary-500: #ea6c00;
  --color-primary-gradient: linear-gradient(
    180deg,
    var(--color-primary-300) 0%,
    var(--color-primary-400) 100%
  );

  // secondary color
  --color-secondary-300: #8fe9d0;
}
